@using SklepInternetowy.DatabaseManager

@inject DBManager Manager


<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <ul class="list-group shadow">

                @foreach (var fav in Manager.GetUserFavoriteProducts())
                {
                    <a asp-controller="Product" asp-route-id="@fav.Product.Id" asp-action="Details">
                        <li class="list-group-item">
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1 justify-content">
                                    @fav.Product.Name
                                </div>
                            </div>
                        </li>
                    </a>
                }
            </ul>
        </div>
    </div>
</div>