@using SklepInternetowy.DatabaseManager
@inject DBManager Manager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Witaj na stronie naszego sklepu ! @(Manager.Name + " " + Manager.LastName)</h2>
    Zapraszamy do przeglądnięcia naszej oferty<br />
    Mamy nadzieję, że znajdziesz coś dla siebie jak każdy z milionów użytkowników robiących u nas zakupy !

    @{
        if(Manager.IsProductTableEmpty)
        {
            Manager.AddTestData();
        }
    }
</div>
