
<div class="modal login-container" id="loginForm">
    <div class="row justify-content-md-center">
        <div class="col-md-4 login-form-1">
            <form id="SignIn">
                <h3>Sign in</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" value="test123" placeholder="Username *" />
                    <div style="font-size:12px;" class="error text-warning"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" value="test123" placeholder="Your Password *" />
                    <div style="font-size:12px;" class="error text-warning"></div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
            </form>
            <div id="signin-errors" style="display:none;" class="alert alert-danger" role="alert">
            </div>
        </div>
        <div class="col-md-4 login-form-2">
            <form id="SignUp">
                <h3>Sign up</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="regusername" placeholder="Username *" />
                    <div style="font-size:12px;" class="error text-warning"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Name *" />
                    <div style="font-size:12px;" class="error text-warning"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastname" placeholder="Lastname *" />
                    <div style="font-size:12px;" class="error text-warning"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Your Email *" />
                    <div style="font-size:12px;" class="error text-warning"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="regpassword" placeholder="Your Password *" />
                    <div style="font-size:12px;" class="error text-warning"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="passwordconfirmation" placeholder="Confirm password *" />
                    <div style="font-size:12px;" class="error text-warning"></div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Register" />
                </div>
                <i id="closeModal" class="far fa-window-close"></i>
            </form>
            <div id="signup-errors" style="display:none;" class="alert alert-danger" role="alert">
            </div>
        </div>
    </div>
</div>